* {
    box-sizing: border-box;
}

body {
    background-color: rgba(8, 20, 132);
    color: whitesmoke;
    font-family: 'PT Serif', serif;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);
    margin: 0;
}

/* NAVBAR */

#topNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5vw;
    background-color: whitesmoke;
}

.navLink {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(8, 20, 132);
    padding: 2vw;
}

.navLink:hover {
    background-color: rebeccapurple;
    color: whitesmoke;
    transition-duration: 500ms;
}

/* TITLE & LOGO AREA */

#titleContainer {
    display: flex;
    justify-content: center;
}

#titleText, #jLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#titleText {
    font-size: 7vw;  
}

#logoContainer {
    display: flex;
    justify-content: center;
}

#jLogo {
    width: 90%;
    height: auto;
    border: 12px solid whitesmoke;
}

/* DESCRIPTION AREA  */

#description {
    text-align: center;
    width: 75%;
    margin: auto;
    font-size: 3vw;
    padding: 10px;
}

/* INSTRUCTIONS AREA  */

#instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin: auto;
    border: 10px solid whitesmoke;
    border-radius: 30px;
    padding: 10px;
}

#instructionsHeading {
    text-align: center;
    font-size: 4.5vw;
    margin: 10px 0 0 0;
}

#instructionsList {
    font-size: 2.7vw;
}

/* BUTTONS AREA  */

#buttons {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 70%;
}

#getClue, #getAnswer, #reset {
    padding: 3vw 4vw;
    border-radius: 20px;
    font-size: 2.5vw;
    font-weight: 600;
}

.btnGetClue:hover {
    background-color: dodgerblue;
    color: whitesmoke;
    transition-duration: 450ms;
}

.btnGetAnswer:hover {
    background-color: forestgreen;
    color: whitesmoke;
    transition-duration: 450ms;
}

/* .btnReset:hover {
    background-color: orangered;
    color: whitesmoke;
    transition-duration: 450ms;
} */

/* CLUE AREA  */

#clueArea {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    padding: 15px 20px 0 40px;
    border: 10px solid whitesmoke;
    border-radius: 30px;
    font-size: 2.7vw;
}

#trebek {
    display: flex;
    justify-items: center;
    margin: auto;
    padding: 20px 0 0 0;
}

/* FOOTER  */

#footer {
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    font-size: 1.2vw;
}

#footerLink {
    text-decoration: none;
    color: whitesmoke;
    padding: 3px;
    border-radius: 12px;
}

#footerLink:hover {
    color: rebeccapurple;
    background-color: whitesmoke;
    transition-duration: 500ms;
    
}

/* MEDIA QUERIES */

@media (min-width: 900px) {
    body {
        grid-auto-rows: minmax(25px, auto);
    }

    #topNav {
        font-size: 1.4vw;
    }

    .navLink {
        padding: 1vw;
    }

    #titleText {
        font-size: 4vw;
    }

    #jLogo {
        width: 60%;
    }

    #description {
        width: 60%;
        font-size: 2vw
    }

    #instructionsHeading {
        font-size: 3.5vw;
    }

    .instructionsList {
        font-size: 1.5vw;
    }

    #buttons {
        padding: 1.5vw;
    }

    #getClue, #getAnswer, #reset {
    padding: 1.5vw 2.5vw;
    font-size: 1.7vw;
    }

    .clueArea {
        width: 85%;
        font-size: 1.5vw;
    }

    #trebek {
        width: 20%;
    }
}